@import "tailwindcss";


html, body {
  overflow-x: hidden;
  width: 100%;
}


/* Fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

/* Optional: delay for navbar */
.delay-500 {
  animation-delay: 0.5s;
}
