@import "tailwindcss";

/* Fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

/* Optional: delay for navbar */
.delay-500 {
  animation-delay: 0.5s;
}

/* Diagonal bottom for hero section */
.clip-diagonal-bottom-left {
  clip-path: polygon(0 0, 100% 100%, 100% 120%, 0 120%);
}

.clip-diagonal-right {
  clip-path: polygon(0 100%, 100% 0, 100% 120%, 0 120%);
}


